.contactBody{
    align-items: center;
    align-content: center;
}
.contactDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-left: 50px;
}

.contCard{
    /* display: flex;
    flex-direction: column; */
    width: 200px;
    height: 105px;
    margin: 10px;
}

.contacth2{
    font-size: 17px;
    font-weight: 600;
}