.App {
  text-align: center;
  padding-left: 175px;
  padding-right: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftBar{
  width: 25px;
  height: 100vh;
  margin-left: 25px;
  background-color: rgb(20, 42, 183);
}
.rightBar{
  width: 25px;
  height: 100vh;
  margin-right: 25px;
  background-color: rgb(20, 42, 183);
}

.emeMapCont{
  margin-top: 20px;
}

.emergencies{
  width: 196px;
  height: 185px;
  padding: 20px 5px;
  font-size: 22px;
  color: rgb(255, 255, 0);
  background-color: rgb(255, 14, 6);
}
.emergencies a{
  text-decoration: none;
}
.emeMap-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
