.App {
  text-align: center;
  padding-left: 175px;
  padding-right: 175px;
  display: flex;
  flex-direction: column;
}

.leftBar{
  width: 25px;
  height: 100vh;
  margin-left: 25px;
  background-color: rgb(20, 42, 183);
}
.rightBar{
  width: 25px;
  height: 100vh;
  margin-right: 25px;
  background-color: rgb(20, 42, 183);
}

.emeMapCont{
  margin-top: 20px;
}


