.mainNav{
    display: flex;
    flex-direction: row;
}

.navDiv{
    width: 150px;
    height: 75px;
    background: linear-gradient(to top, rgb(0, 120, 210), rgb(19, 43, 180));
    margin: 2px;
    align-content: center;
}
.navbtn{
    height: 75px;
    color: white;
    padding-top: 30px;
    text-decoration: none;
}
.navbtn:hover{
    background-color: rgb(12, 24, 111);
}